<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
</head>

<body>

<div class="wrapper">
	<h1><a href="/" class="header-link">Sam &amp; Stella Are Getting Married</a><a href="#" data-id="surprise" class="header-link">!</a></h1>
	<div class="container">
		<ul class="grid-nav">
			<li><a href="#" data-id="our-story">Story</a></li>
			<li><a href="#" data-id="the-wedding">Wedding</a></li>
			<li><a href="#" data-id="the-weekend">Weekend</a></li>
			<li><a href="#" data-id="the-wedding-party">Wedding Party</a></li>
			<li><a href="#" data-id="address" class="address">Address Request</a></li>
			<li><a href="#" data-id="rsvp" class="rsvp" style="display:none;">RSVP</a></li>
			<li><a href="#" data-id="registries" class="registries">Registries</a></li>
		</ul>
		
		<hr />
		
		<div id="landing" class="grid-container" style="display:block;">
			<div id="landing-text" class="landing-text">
				<p class="landing-intro">We're so excited for you to come celebrate with us on May 22! <br>Check back here for updates and more details as the wedding gets closer.</p>
				<p class="landing-outro">Special thanks to <a href="http://www.lbkinson.com" alt="LBKinson" target="_blank">Laura Kinson for designing and building this site and <a href="http://www.amaiettaphotography.com/" alt="Ashley Maietta photography" target="_blank">Ashley Maietta</a> for her photography!</p>
			</div>
			<ul class="engaged rig columns-2">
				<li>
					<%= image_tag "engaged1.jpg", :class => "engaged", :alt => "Sam and Stella are engaged!" %>
				</li>
				<li>
					<%= image_tag "engaged2.jpg", :class => "engaged", :alt => "Sam and Stella are engaged!" %>
				</li>
			</ul>
		</div>
		<!-- /#landing -->

		<div id="our-surprise" class="grid-container">
			<div id="section" class="their-surprise">
				Surprise!
			</div>
		</div>
		<!-- /#surprise -->

		<div id="our-story" class="grid-container">
			<div id="section" class="their-story">
				<h3>Our Story</h3>
				<p>Sam and Stella were on a date.  It was their second date; third if you count the walk they took to the Prudential Center for cookies at Paradise Bakery; fourth if you count the banana Stella brought Sam while he was working late at the library.  

				<p>Sam knew Stella liked him.  A couple weeks before, Stella's roommate Cherylynn had made it all but perfectly clear:</p>

				<%= image_tag "ourStory_hartland.jpg", :class => "story1", :alt => "they definitely like each other" %>

				<div class="quote">
					<p>Sam: Does Stella like me?</p>
					<p>Cher: I don't knoooooooow. You should ask herrrrrrrrrrrr.</p>
				</div>

				<p>Stella knew Sam liked her. A couple nights before, he flat out told her.</p>
				<div class="quote">
					<p>Sam: I like you a lot.</p>
					<p>Stella: I like you a lot.</p>
					<p>Sam: ...Better get back to campus.</p>
					<p>Stella: {He's a coward}</p>
					<p>Sam: {I'm a coward}</p>
				</div>

				<p>So there they were, in a second-floor vegan Thai restaurant in Boston's Chinatown. They probably talked about Zeta Phi Eta, the co-ed fraternity they were in, and maybe about the lifestyle column Sam was writing for the school newspaper about his experience being vegan for a week.</p>

				<p>Then Stella did something that, to her, was perfectly ordinary. She squeezed a lemon into her water and then ran her lemony fingers through her hair.</p>

				<div class="quote">
					<p>Sam: What did you just do?</p>
					<p>Stella: I put lemon in my hair.  Lemon's good for hair.</p>
					<p>Sam: ... [this was the 30-second paralysis a coward's mind undergoes when his life is about to change forever] ...</p>
					<p>Stella: ...[this was 30 seconds of wondering, "Is he impressed? Is he confused? What's going on?"]</p>
					<p>Sam: Will you go out with me?</p>
					<p>Stella: Yes!</p>
				</div>
				<ul style="list-style:none;">
					<li>
						<%= image_tag "ourStory_snowy.jpg", :class => "story2", :alt => "Heartland, land of hearts" %>
					</li>
				</ul>

				<p>That was November 3, 2009.</p> 

				<p>Sam finished school a month later and started working as a tour guide on the Freedom Trail.  Stella continued school and would pencil in time with Sam in between all her extracurricular activities. </p>

				<p>In January, 2011, they moved to Los Angeles together.</p>

				<p>Stella worked for a wine event start up and Sam parlayed an unpaid internship into his first paid TV gig.  Jobs came and went, Sam became a podcast junkie, Stella joined a yoga studio and got certified to teach; Sam wrote a few scripts, Stella freelanced a lot of events; Sam read a bunch of books, Stella obliged every time Sam asked, "Can I read this paragraph out loud to you? It's really something."</p>

				<p>On April 19, 2015, Sam proposed.  And on May 22, 2016, Sam and Stella will be married.</p>

				<p>They've come a long way from that second story vegan Thai restaurant in Boston's Chinatown.</p>   

				<p>Stella still puts lemon in her hair.  Sam does too.</p>
				<ul id="their-story-ending" class="rig columns-4">
					<li>
						<%= image_tag "couch.jpg", :alt => "jokes are for babies" %>
					</li>
					<li>
						<%= image_tag "losAngeles.jpg", :alt => "lots are for walks" %>
					</li>
					<li>
						<%= image_tag "smirk.jpg", :alt => "headshots are for smirks" %>
					</li>
					<li>
						<%= image_tag "naps.jpg", :alt => "hammocks are for naps" %>
					</li>
				</ul>
			</div>
		</div>
		<!--/#our-story-->
		
		<div id="the-wedding" class="grid-container">
			<div id="section" class="their-wedding">
				<h3>The Wedding</h3>
				<div id="details" class="their-wedding-location">
					<h4>Location:</h4>
					<p>Lorimar Winery - Vineyard Lawn</p>
					<p><a href="https://www.google.com/maps/place/Lorimar+Vineyards+and+Winery/@33.5163226,-117.1740298,12z/data=!4m5!1m2!2m1!1slorimar+winery!3m1!1s0x80db793cb6ee4d2b:0x80265372cc5279c3?hl=en" width="100%" target="_blank">39990 Anza Road<br> Temecula, CA 92592</a></p>

					<ul style="list-style:none;">
						<a href="http://www.lorimarwinery.com" alt="Lorimar Winery" target="_blank">
							<li>
								<%= image_tag "lorimar2.jpg", :class => "lorimar2", :alt => "beautiful places for beautiful people" %>
							</li>
						</a>
						<a href="http://www.lorimarwinery.com" alt="Lorimar Winery" target="_blank">
							<li>
								<%= image_tag "lorimar5.jpg", :class => "lorimar5", :alt => "beautiful places for beautiful people" %>
							</li>
						</a>
					</ul>
				</div>
				<div id="details" class="their-wedding-date">
					<h4>Date:</h4>
					<p>Sunday, May 22, 2016</p>
				</div>
				<div id="details" class="their-wedding-schedule">
					<h4>Schedule:</h4>
					<p>Ceremony at <strong>5:15 pm</strong></p>
					<p>Dinner and dancing to follow</p>
					<p class="side-note"><i>If you arrive early, check out Lorimar's Barrel Room, where there will be live music and wine tasting until 5:00 pm! It's just a few hundred feet from the wedding lawn and parking lot.</i></p>
				</div>
				<div id="details" class="their-wedding-attire">
					<h4>Attire:</h4>
					<p>Dress to impress!  It'll be warm in the day and may cool down at night. Both the wedding and reception are outdoors in the grass. Stella is going to wear flats so you can too! </p>
				</div>
			</div>
			<ul id="save-the-date" class="rig columns-2">
				<li>
					<%= image_tag "saveTheDate1.jpg", :alt => "save the date!" %>
				</li>
				<li>
					<%= image_tag "saveTheDate2.jpg", :alt => "save the date!" %>
				</li>
			</ul>
		</div>
		<!--/#the-wedding-->
		
		<div id="the-weekend" class="grid-container">
			<div id="section" class= "their-weekend">
				<h3>The Weekend</h3>
				<div id="details" class="their-weekend-getting-there">
					<h4>How to get here:</h4>
					<p>Temecula is located an hour and a half south east of LA.</p>
					<p>If you are flying in, there are lots of options! The closest and largest airports are:</p>
					<div id="details-expanded" class="their-weekend-airports">
						<ul class="rig columns-6">
							<a href="http://www.san.org/" alt="San Diego International Airport" target="_blank">
								<li>
									<%= image_tag "airports/san.jpg", :class => "airport-images", :alt => "ontario" %>
									<p>62 miles, SAN</p>
								</li>
							</a>
							<a href="http://www.lawa.org/welcomeLAX.aspx" alt="Los Angeles International Airport" target="_blank">
								<li>
									<%= image_tag "airports/lax2.jpg", :class => "airport-images", :alt => "los angeles" %>
									<p>92 miles, LAX</p>
								</li>
							</a>
							<a href="http://www.ocair.com/" alt="John Wayne Airport Orange County" target="_blank">
								<li>
									<%= image_tag "airports/sna.jpg", :class => "airport-images", :alt => "ontario" %>
									<p>66 miles, SNA</p>
								</li>
							</a>
							<a href="http://www.lawa.org/welcomeONT.aspx" alt="Ontario International Airport" target="_blank">
								<li>
									<%= image_tag "airports/ont.jpg", :class => "airport-images", :alt => "ontario" %>
									<p>54 miles, ONT</p>
								</li>
							</a>
							<a href="http://www.lgb.org/" alt="Long Beach Airport" target="_blank">
								<li>
									<%= image_tag "airports/lgb.jpg", :class => "airport-images", :alt => "long beach" %>
									<p>80 miles, LGB</p>
								</li>
							</a>
							<a href="http://www.burbankairport.com/" alt="Burbank Bob Hope Airport" target="_blank">
								<li>
									<%= image_tag "airports/bur.jpg", :class => "airport-images", :alt => "burbank" %>
									<p>99 miles, BUR</p>
								</li>
							</a>
						</ul>
					</div>

					<p><b><a href="https://www.google.com/flights/" alt="check out Google Flights!" target="_blank">Google Flights</a></b> is a great resource to explore all your options.</p>
				</div>
				<div id="details" class="their-weekend-get-around">
					<h4>How to get around:</h4>
					<p>Please don't drink and drive. Lorimar has graciously allowed us to keep cars overnight (if needed) - you can always Lyft, Uber or taxi to the wedding venue from wherever you are staying.</p>
				</div>
				<div id="details" class="their-weekend-stay">
					<h4>Where to stay:</h4>
					<p>We're not doing a formal room block. The closest hotel to our venue is <a href="http://www.southcoastwinery.com/" alt="South Coast Winery Resort & Spa" target="_blank">South Coast Winery Resort &amp; Spa</a> (2 blocks from Lorimar). </p>
					<p class="side-note">For more affordable options, check out <a href="http://www.estemecula.com/" alt="Embassy Suites" target="_blank">Temecula's Embassy Suites</a> or the <a href="http://www.marriott.com/hotels/travel/ontrt-fairfield-inn-and-suites-temecula/" alt="Fairfield Inn & Suites Temecula" target="_blank">Fairfield Inn &amp; Suites Temecula</a>, both are a 15 - 20 minute drive from Lorimar.</p>
					<p class="side-note">There are amazing houses for rent on <a href="http://www.airbnb.com" alt="stay with airbnb!" target="_blank"><%= image_tag "hotels/airbnb.png", :class => "hotel-images", :alt => "airbnb" %></a> and <a href="http://www.vrbo.com" alt="stay with vrbo!" target="_blank"><%= image_tag "hotels/vrbo.png", :class => "hotel-images", :alt => "vrbo" %></a></p>

					<div id="details" class="their-weekend-join-us"</div>
						<h4>Come for the weekend:</h4>
						<p>Planning to spend a few days in Temecula? We are too!</p><p><i>Check back here for updates on planned activities (especially on Saturday).</i></p>

						<br>
						<p>If you're planning to go wine tasting while you're in town, get coupons <a href="http://www.temeculawines.org/coupons/" target="_blank" alt="coupons!">here!</a></p>
						
						<!--/
						<div id="details-expanded" class="welcome-wine">
							<!--/ for welcome wine event 
						</div>
						<div id="details-expanded" class="namaste">
							<!-- for yoga event
						</div> -->
					</div>

					<div id="details" class="their-weekend-to-do">
						<h4>What to do:</h4>
						<p>We love discovering new places and have tons of favorite spots all over Southern California.</p>
						<p>Check out our favorites:</p>
						<div id="details-expanded" class="their-weekend-map">
							<div>
								<iframe
								  width="90%"
								  height="450"
								  frameborder="0" style="border:0"
								  src="https://www.google.com/maps/d/embed?mid=z-7pQN-tG3TU.kK04VwB7I7Qw&z=8" allowfullscreen>
								</iframe>
							</div>
						</div>
						
					</div>
				</div>
				<br>

			</div>
		</div>
		<!--/#the-weekend-->

		<!-- /#the-wedding-party -->
		<div id="the-wedding-party" class="grid-container">
			<div id="section" class="their-wedding-party">
				<div id="wrapper">
					<div id="columns">
						<div class="pin">
							<%= image_tag "party/1.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/2.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/41.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/4.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/5.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/6.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/7.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/8.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/9.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/10.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/11.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/15.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/13.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/14.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/17.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/16.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/12.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/18.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/19.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/20.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/21.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/22.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/23.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/45.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/25.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/26.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/27.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/28.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/29.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/30.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/40.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/32.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/35.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/44.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/34.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/36.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/37.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/38.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/39.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/3.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/42.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/43.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/33.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/24.jpg" %>
						</div>
						<div class="pin">
							<%= image_tag "party/46.jpg" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/#the-wedding-party -->

		<div id="address" class="grid-container">
			<div id="section" class="their-address">
				<div id="details" class="their-address-text">
					<div id="details-form" class="their-address-form">
						<iframe src="https://docs.google.com/forms/d/1BOFohaI1Ln8cl2uTIY2nr_fRYSGI2U8lg_2c86jM7hs/viewform?embedded=true" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0" style="display: block;">Loading...</iframe>
					</div>
				</div>
				<br>
				<ul class="rig columns-4">
					<li>
						<%= image_tag "address/1.jpg" %>
					</li>
					<li>
						<%= image_tag "address/2.jpg" %>
					</li>
					<li>
						<%= image_tag "address/3.jpg" %>
					</li>
					<li>
						<%= image_tag "address/4.jpg" %>
					</li>
				</ul>
			</div>
		</div>
		<!-- /#address-request -->


		<div id="rsvp" class="grid-container">
			<div id="section" class="their-rsvp">
				<h3>RSVP</h3>
				<div id="details" class="their-rsvp-text">
					<p>Please RSVP by May 1, 2015</p>
					<p><i>Please check your invitation for the number of seats that we have reserved for you. If you are unsure, please ask!</i></p>
					<div id="details-form" class="their-rsvp-form">
						<iframe src="https://docs.google.com/forms/d/1PuSdcaF3gw4bz6CgAEf8J9RrwKSmSKIBSlOKFutfE40/viewform?embedded=true" class="details-form" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0" style="display: block;">Loading...</iframe>
					</div>
				</div>
				<br>
				<ul class="rig columns-4">
					<li>
						<%= image_tag "address/1.jpg" %>
					</li>
					<li>
						<%= image_tag "address/2.jpg" %>
					</li>
					<li>
						<%= image_tag "address/3.jpg" %>
					</li>
					<li>
						<%= image_tag "address/4.jpg" %>
					</li>
				</ul>
			</div>
		</div>
		<!-- /#rsvp -->

		<div id="registries" class="grid-container">
			<div id="section" class="their-registries">
				<h4>We love handmade gifts!</h4>
				<p>We are starting collections of pottery and glass from Penland artists, if you would like to buy us something handmade please reach out to Stella's mom, <a href="mailto:geraldineplato@gmail.com" alt="email Geraldine Plato!" target="_blank">Geraldine Plato</a>, and she can help you pick out the perfect present.</p>
				<div id="details-expanded" class="their-registries-stores">
					<ul class="rig columns-3">
						<a href="http://www.penland.org/" target="_blank">
							<li>
								<%= image_tag "registries/penland1.png", :class => "registries-images", :alt => "penland artists" %>
							</li>
						</a>
					</ul>
				</div>
				<h4>We also have registries at the following stores:</h4>
				<div id="details-expanded" class="their-registries-stores">
					<ul class="rig columns-3">
						<a href="https://www.amazon.com/registry/wedding/ZU87RSME0PGY" alt="Sam & Stella are registered at Amazon!" target="_blank">
							<li>
								<%= image_tag "registries/amazon3.png", :class => "registries-images", :alt => "amazon" %>
							</li>
						</a>
						<a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=542793388&eventType=Wedding" target="_blank">
							<li>
								<%= image_tag "registries/bedbathbeyond.png", :class => "registries-images", :alt => "bed bath beyond" %>
							</li>
						</a>
					</ul>
				</div>
				<div id="their-registries-note" class="their-registries-note">
				</div>

				<ul class="rig columns-4">
					<li>
						<%= image_tag "registries/1.jpg" %>
					</li>
					<li>
						<%= image_tag "registries/2.jpg" %>
					</li>
					<li>
						<%= image_tag "registries/3.jpg" %>
					</li>
					<li>
						<%= image_tag "registries/4.jpg" %>
					</li>
				</ul>
			</div>
		</div>
		<!-- /#registries -->
		
		<hr />
		
	</div>
	<!--/.container-->
</div>
<!--/.wrapper-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.grid-nav li a').on('click', function(event){
		event.preventDefault();
		$('.grid-container').fadeOut(500, function(){
			$('#' + gridID).fadeIn(500);
		});
		var gridID = $(this).attr("data-id");
		
		$('.grid-nav li a').removeClass("active");
		$(this).addClass("active");
	});
});
</script>

</body>
</html>